#cpinput{
	width: 96%;
    margin: 2%;
    color: cadetblue;
    border-bottom: aliceblue;
}
#cpinput:active{
	border:none;
}
h5{
	color: #a2a2a2;
    margin: 2%;
    font-size: initial; 
}
h3{
	color: #a2a2a2;
}
#result{
	display: inline;
	color: cadetblue;
}
#result1{
	display: inline;
	color: cadetblue;
	font-size: initial;
}
#ic{
	color: cadetblue;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
	width: 96% !important;
    margin: 2% !important;
    color: cadetblue !important;
    border-bottom: none;
    margin-left: 2%;
    margin-right: 2%;
}